# =========================
# Terraform
# =========================
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.venv
.venv/
venv/
env/

# =========================
# Secrets
# =========================
.env
.env.*
*.pem
*.key

# =========================
# Jenkins
# =========================
jenkins_home/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
